<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Custom_Flows">
		<classes>
			<class name="core.tests.Scenarios"/>
			<class name="core.tests.Booking"/>
			<class name="core.tests.Records"/>
			<class name="core.tests.About"/>
			<class name="core.tests.Events"/>
			<class name="core.tests.Package"/>
		</classes>
	</test>
</suite>